<h1>Listing static_page_contents</h1>

<table>
  <tr>
    <th>Contact us</th>
    <th>About</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @static_page_contents.each do |static_page_content| %>
  <tr>
    <td><%= static_page_content.contact_us %></td>
    <td><%= static_page_content.about %></td>
    <td><%= link_to 'Show', static_page_content %></td>
    <td><%= link_to 'Edit', edit_static_page_content_path(static_page_content) %></td>
    <td><%= link_to 'Destroy', static_page_content, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Static page content', new_static_page_content_path %>
