<%= simple_form_for(@product, :html => { :multipart => true }) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.input :number %>
	<%= f.input :description %>
	<%= f.association :manufacturer %>
	<%= f.association :product_category %>
	<%= f.input :price %>
	<%= f.input :active %>
	<%= f.input :photo %>
	<%= f.button :submit %>
<% end %>
