

<h1>Listing products</h1>

<table>
  <tr>
		<th></th>
    <th>Number</th>
    <th>Description</th>
    <th>Product category</th>
    <th>Active</th>
    <th>User</th>
    <th></th>
  </tr>


	<% @products.each do |product| %>
	  <tr>
			<td><div id="gallery"><%= link_to (image_tag product.photo.url(:thumb)), product.photo.url(), :title => product.description %></div></th> 
	    <td><%= product.number %></td>
	    <td><%= product.description %></td>
	    <td><%= product.product_category.description %></td>
	    <td><%= product.active %></td>
			<% if current_user.administrator %>
	   	 <td><%= link_to 'Show', product %> |
					<%= link_to 'Edit', edit_product_path(product) %> |
					<%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %>
				</td>
			<% end %>
	  </tr>
	<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
