<h1>Listing products</h1>

<%= form_tag products_path, :method => 'get' do %>
	<%= hidden_field_tag :direction, params[:direction] %>
	<%= hidden_field_tag :sort, params[:sort] %>
	<p>
		<%= label_tag "Product Number: "%>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	</p>
<% end %>

<table>
  <tr>
		<th></th>
    <th><%= sortable "number" %></th>
    <th><%= sortable "description" %></th>
    <th><%= sortable "product_category_id", "Product Category" %></th>
		<th><%= sortable "manufacturer_id", "Manufacturer" %></th>
    <th></th>
  </tr>


	<% @products.each do |product| %>
	  <tr class="<%= cycle('line-odd', 'line-even') %>">
			<% if product.photo_file_name %>
				<td><div id="gallery"><%= link_to (image_tag product.photo.url(:thumb)), product.photo.url(), :title => product.description %></div>
				</td>
			<% else %>
				<td><%= image_tag "no_image.jpg" %>
			<% end %> 
	    <td><%= product.number %></td>
	    <td class="product-description"><%= product.description %></td>
	    <td><%= product.product_category.name %></td>
	    <td><%= product.manufacturer.name %></td>	
			<% if current_user and current_user.administrator %>
	   	 <td class="item-action"><%= link_to 'Show', product %> |
					<%= link_to 'Edit', edit_product_path(product) %> |
					<%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %>
				</td>
			<% end %>
	  </tr>
	<% end %>
</table>

<%= will_paginate @products %>
<br />

<% if administrator_user %>
	<%= link_to 'New Product', new_product_path %>
<% end %>
