<!DOCTYPE html>
<html>
<head>

  <title>Vcjsupply</title>
  <%= stylesheet_link_tag "vcjsupply" %>
	<%= stylesheet_link_tag "jquery.lightbox-0.5" %>
	<%= javascript_include_tag "jquery", "jquery.lightbox-0.5",  %>
  <%= csrf_meta_tag %>

	<script>
	$(function() {
		$('#gallery a').lightBox(); // Select all links in the page
		
	});
	</script>
</head>

<body>
	<div id="login">
		<% if current_user %>
			Logged in as <%= current_user.login_name %>
			<%= link_to "Logout", log_out_path %>
		<% else %>
			<%= link_to "Log in", log_in_path %>
		<% end %>
	</div>
	<div id="header">
	</div>
	
	<div id="nav">
		<ul>
			<li><a href="#">Home</a></li>
			<li><%= link_to "Products", products_path %></li>
			<li><a href="#">Contact Us</a></li>
			<li><a href="#">About</a></li>
		</ul>
	</div>
	
	<!-- <div id="intro">
	</div> -->
	
	<div id="content">
		<div id="mainContent">
			<div>
				<br />
				<br />
				<% flash.each do |name, msg| %>
					<%=	content_tag :div, msg, :id => "flash_#{name}" %>
				<% end %>
				<!-- This is the main body -->
				<%= yield %>
			</div>
		</div>
	
		<!--<div id="aside">
		</div> -->
	</div>
	
	<div id="footer">
		<!-- Footer -- >
		©2010-2011 VCJ Supply
	</div>

</body>
</html>
